.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.credentialsContainer{
  position: absolute;
  bottom: 20px;
}

span{
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* styles.css */

/* Center the page content */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  background-image: url('https://cdn140.picsart.com/293713438013201.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}



/* Set the font family */
body,
h1 {
  font-family: Arial, sans-serif;

}

h1 {
  color: #c209c1; /* Set the title text color to PicsArt pink */
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Style the audio player container */
.audio-player-container {
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  text-align: center;
}

/* Style the audio player */
.audio-player-container audio {
  width: 100%;
  margin-bottom: 20px;
}

/* Style the input fields */
.audio-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto 20px;

}

ul {

}

li {
  font-weight: 400;
  color: white;
  text-align: left;
}

.instructionsTitle{
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: left;
}



.instructionsLabel{
  color: gray;
  opacity: 0.6;
  margin-top: 10px;
  font-weight: bold;
}

.audio-inputs input {
  flex: 1;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* margin-right: 10px; */
  width: 250px;
}

.audio-inputs button {
  background-color: #c209c1;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.generateButton{
  margin-top: 10px;
  height: 40px;
  width: 275px;
  padding: 10px 20px;
  border-radius: 25px;
}

.generateButton:hover{
  opacity: 0.6;
}

.loader-container {
  position: fixed; /* Fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background color */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}



/* Style the audio file input */
.audio-inputs input[type="file"] {
  display: none;
}

/* Style the file input label */
.audio-inputs label {
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

/* Hover effect for the file input label */
.audio-inputs label:hover {
  background-color: #0056b3;
}

/* Style the audio player error message */
.error-message {
  color: #ff0000;
  margin-bottom: 10px;
}
